<tr id="<%= dom_id employee %>" class="scaffold_record">
  <td class="px-4 py-2 whitespace-nowrap">
    <%= employee.name %>
  </td>

  <td class="px-4 py-2 whitespace-nowrap">
    <%= employee.position %>
  </td>

  <td class="px-4 py-2 whitespace-nowrap">
    <%= employee.office %>
  </td>

  <td class="px-4 py-2">
    <%= employee.age %>
  </td>

  <td class="px-4 py-2 whitespace-nowrap">
    <%= employee.start_date %>
  </td>
</tr>
